<%= page_title "Weiterleitung" do %>

<p>
	Weiterleitung zu <%= link_to @target_url, @target_url %> mit Status <%= @status.inspect %>
</p>

<p>
	Die obige Weiterleitung wurde nicht ausgeführt, da die Diagnosefunktionen aktiviert sind.
	<%= link_to "Diagnosefunktionen deaktivieren", :controller=>'session', :action=>'settings', :debug=>'false' %>
</p>

<% end %>

