<% page_title "Person: #{h @person.full_name}" do %>

	<% user=@person.user %>

	<%= render :partial => 'person', :locals => { :person=>@person } %>

	<p>
	<%= link_to 'Editieren', edit_person_path(@person) %> |
	<%= link_to 'Personenliste', people_path %>
	</p>

<% end %>

