<h1>Flugbuch für <%= h @person.full_name %></h1>

<%# TODO date spec %>
<p><%= h @date %></p>

<% if @flights.empty? %>
	<p>Keine Flüge im angegebenen Zeitraum</p>
<% else %>
	<p><%= h @flights.count %> Flüge</p>

	<%= render :partial => 'partials/list_table', :locals => { :table => @table } %>
<% end %>

