<%= page_title "Flugdatenbank #{Settings.instance.location}" %>

<%# TODO date spec %>
<p><%= h @date %></p>

<% if @flights.empty? %>
	<p>Keine Flüge im angegebenen Zeitraum</p>
<% else %>
	<p><%= h @flights.count %> Flüge</p>

	<%= render :partial => 'partials/list_table', :locals => { :table => @table } %>
<% end %>

