<%= page_title "Flugdatenbank #{Settings.instance.location}" %>

<p><%= render :partial=>'partials/date_range', :locals=>{:date_range=>@date_range} %></p>

<% if @flights.empty? %>
	<p>Keine Flüge im angegebenen Zeitraum</p>
<% else %>
	<p><%= h @flights.count %> Flüge</p>

	<%= render :partial => 'partials/list_table', :locals => { :table => @table } %>
<% end %>

