<%= page_title "Flugdatenbank #{Settings.instance.location}" %>

<p><%= render :partial=>'partials/date_range', :locals=>{:date_range=>@date_range} %></p>

<p><%= render :partial=>'partials/flight_count', :locals=>{:num_flights=>@flights.size} %></p>

<% if !@flights.empty? %>
	<%= render :partial => 'partials/list_table', :locals => { :table => @table } %>
<% end %>

