<% page_title "Anmelden" do %>

	<%= form_tag 'login' do %>
		<table class="form">
			<tr>
				<th>Benutzername:</th>
				<td><%= text_field_tag :username, @username %></td>
			</tr>
			<tr>
				<th>Passwort:</th>
				<td><%= password_field_tag :password %></td>
			</tr>
		</table>

		<%= submit_tag "Anmelden" %>

		<p style="font-size: 75%">Cookies müssen aktiviert sein.</p>
	<% end %>

<% end %>

