<table class="list">
	<tr class="header">
		<% table[:columns].each { |column| %>
			<th><nobr><%= h column[:title] %></nobr></th>
		<% } %>
	</tr>
	<% table[:rows].each_with_index { |row, index| %>
		<tr class="<%= (index%2==0)?"data0":"data1" %>">
			<% row.each { |column| %>
				<td><nobr><%= h (column || "-") %></nobr></td>
			<% } %>
		</tr>
	<% } %>
</table>

