body { background-color: #fff; color: #333; }

.nobreak { white-space:nowrap; }
.invisible { display:none; }
/*.invisible { visibility:hidden; }*/

.transparent { background-color: transparent; }

span.hidden_field { color: #BBB }



table.list { border-collapse: collapse }
table.list td,table.list th { padding: 2px 10px 2px 5px } /* top, right, bottom, left */
table.list td,table.list th { border: solid white; border-width: 1px }
table.list tr.header th { background-color: #666; color: #FFF }
table.list tr.data0  td { background-color: #EEE }
table.list tr.data1  td { background-color: #CCC }

table.list tr td.error_message { color: red }

table.form th { white-space: nowrap }
table.form td, table.form th  { vertical-align: top; }
table.object (td,td) { vertical-align: top; }


th {
	text-align: left;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a         { color: #000; }
a:visited { color: #666; }
a:hover   { color: #fff; background-color:#333; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

/****************
 ** Pagination **
 ****************/

/*
 * Pagination entries can be input (ButtonRenderer), a (LinkRenderer, active),
 * span.disabled/current (LinkRenderer), span.gap (all)
 */

/* Common options for all pagination elements */
div.pagination a, div.pagination span, div.pagination input {
	font-size: 13px;
	background-color: #EEE;
	border: 1px solid #CCC;
	text-decoration: none;
}

div.pagination { padding-top: 4px; padding-bottom: 4px }

div.pagination a, div.pagination span, div.pagination input {
	padding: 1px 9px 1px 9px;
}

div.pagination span.disabled {
	color: #999
}

/* The gap is an exception: no background, lower padding */
div.pagination span.gap {
	background-color: transparent;
	border: none;
	padding: 1px

}

/* The element for the current page has a green border */
div.pagination .current { border-color: #3C3; }

div.pagination input:hover { color: #fff; background-color: #333; }
div.pagination a:hover     { color: #fff; background-color: #333; }

