body { background-color: #fff; color: #333; }

/*
table { text-align:left; border-collapse:collapse; }
td,th { padding-left:5px; padding-right:10px; }
td,th { padding-top:2px; padding-bottom:2px; }
td,th { border: 1px solid black }
td,th { font-size: 12px; }
*/

table.list { border-collapse: collapse }
table.list td,th { padding: 2px 10px 2px 5px } /* top, right, bottom, left */
table.list td,th { border: solid white; border-width: 1px }
table.list tr.header { background-color: #666; color: #FFF }
table.list tr.data0 { background-color: #EEE }
table.list tr.data1 { background-color: #CCC }

th {
	text-align: left;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

