/* The menu consists of the menu bar (displayed horizontally), first level
 * menus (displayed vertically below the corresponding menu bar entry) and
 * submenus (displayed vertically to the right of the corresponding parent
 * menu entry).
 */

/** Menu size **/

ul.menu { height: 2em; } /* Menu bar */

/* All menu items */
ul.menu a {
	height: 2em;
	line-height: 2em;
	width: 10em;
}





/* Menu bar and menus */
ul.menu, ul.menu ul {
	padding: 0;
	margin: 0;
	list-style-image: none;
	list-style-type: none;
}


/* Menus (first level menus and submenus) */
ul.menu ul {
	position: absolute;
}

/* First level menus */
ul.menu > li > ul {
	margin-left: -1px;
	margin-top: 1px;
}


/* Menus are only shown when the mouse is over the parent menu entry */
ul.menu li       > ul { display: none ; }
ul.menu li:hover > ul { display: block; }

/* IE7 closes the menu when the mouse pointer leaves the parent menu entry.
 * This is a workaround for this problem. It is described just above
 * http://de.selfhtml.org/css/layouts/navigationsleisten.htm#modern */
*:first-child+html ul.menu ul { background-color:white; padding-bottom:1em; }


/* Submenus */
ul.menu ul ul {
	margin-top: -2em;
	margin-left: 10em;
}




/* All menu items (menu bar, first level menus and submenus) */
ul.menu li {
	margin: 0px;
	padding: 0px;
}
/* All menu items */
ul.menu a {
	text-align: center;
	display: block;
	text-decoration: none;
	white-space: nowrap;
}

/* Menu bar entries */
ul.menu > li {
	float: left;
	border-right: 1px solid;
}

/* Menu items (first level and submenu) */
ul.menu ul li {
	border: 1px solid;
	margin-top: -1px;
}

/* Submenu items */
ul.menu ul ul li { }


ul.menu ul li.children > a:after { content: "  "url(../images/black_arrow_bullet.png); }





/*				
						<li style="border: 0px solid red; float: left; height: 2em; line-height: 2em; width: 10em; text-align:center">
						<a style="display:block; height:2em; line-height:2em; text-decoration:none; white-space:nowrap; width:10em;">
				*/

/************
 ** Layout **
 ************/

/* The body has a margin, that means, it's width is smaller than the window */
body { margin: 8px; }

/* The width of the stretcher class is at least that of the body, but it can
 * grow if necessary. Note that a div that has the same width as the body and
 * has a padding will be too large (we want div.(width+padding)=body.width).
 * This is why we need the stretcher.
 */
div.stretcher {
	float:left; /* Can grow larger than the body */
	min-width: 100%;
	padding:0px; /* May not have a padding */
}

/* The body is made up of divs (with a padding) each wrapped in a stretcher. We
 * cannot collapse the margins of the boxes because they are wrapped in a
 * stretcher; the margins of the stretchers also won't collapse because they
 * are floating (?).
 */
div.stretcher+div.stretcher { margin-top: 8px }

div.box { padding: 8px; }

div.title h1 { margin: 0px; }
h2.page_title { margin-top: 8px; }

div.box { border: 1px solid #acf; }


/***********
 ** Fonts **
 ***********/

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
}

div.box.footer {
	font-size:x-small;
}


/************
 ** Colors **
 ************/

body {
	background-color: #def;
	color: #333;
}

div.box {
	background-color: #fff;
	border-color: #acf;
}

a         { color: #000; }
a:visited { color: #666; }
a:hover   { color: #fff; background-color:#333; }

span.hidden_field { color: #BBB }

/** Menus **/
ul.menu         { background: #9bf; } /* Menu bar */
ul.menu li      { background: #9bf; } /* All menu items (menu bar, first level menus and submenus) */
ul.menu a:hover { background: #f00; }
ul.menu > li  { border-right-color: white; } /* Menu bar entries */
ul.menu ul li { border-color:       white; } /* Menu items (first level and submenu) */



/******************************
 ** General settings/classes **
 ******************************/

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

.nobreak { white-space:nowrap; }
.invisible { display:none; }
/*.invisible { visibility:hidden; }*/

.transparent { background-color: transparent; }


/************
 ** Tables **
 ************/

th { text-align: left; }

/** Lists of objects (objects in rows) **/
table.list { border-collapse: collapse }
table.list td,table.list th { padding: 2px 10px 2px 5px } /* top, right, bottom, left */
table.list td,table.list th { border: solid white; border-width: 1px }
table.list tr.header th { background-color: #666; color: #FFF }
table.list tr.data0  td { background-color: #EEE }
table.list tr.data1  td { background-color: #CCC }

table.list tr td.error_message { color: red }

/** Forms (setting name/input field) **/
table.form th { white-space: nowrap }
table.form td, table.form th  { vertical-align: top; }

/** Objects (field name/value) **/
table.object (td,td) { vertical-align: top; }


/************
 ** Errors **
 ************/

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}


/****************
 ** Pagination **
 ****************/

/*
 * Pagination entries can be input (ButtonRenderer), a (LinkRenderer, active),
 * span.disabled/current (LinkRenderer), span.gap (all)
 */

/* Options for the pagination list */
/*div.pagination { padding-top: 4px; padding-bottom: 4px }*/
div.pagination { margin: 8px 0px; }

/* Common options for all pagination elements */
div.pagination a, div.pagination span, div.pagination input {
	font-size: 13px;
	background-color: #EEE;
	border: 1px solid #CCC;
	text-decoration: none;
}


div.pagination a, div.pagination span, div.pagination input {
	padding: 1px 9px 1px 9px;
}

div.pagination span.disabled {
	color: #999
}

/* The gap is an exception: no background, lower padding */
div.pagination span.gap {
	background-color: transparent;
	border: none;
	padding: 1px

}

/* The element for the current page has a green border */
div.pagination .current { border-color: #3C3; }

div.pagination input:hover { color: #fff; background-color: #333; }
div.pagination a:hover     { color: #fff; background-color: #333; }

