/************
 ** Colors **
 ************/

/* The body has a margin, that means, it's width is smaller than the window */
body {
	background-color: #def;
	color: #333;
	margin: 8px;
}

/* The width of the stretcher class is at least that of the body, but it can
 * grow if necessary. Note that a div that has the same width as the body and
 * has a padding will be too large (we want div.(width+padding)=body.width).
 * This is why we need the stretcher.
 */
div.stretcher {
	/*border: 1px solid red;/**/
	float:left; /* Can grow larger than the body */
	min-width: 100%;
	/* may not have a padding */
}

/* The body is made up of divs (with a padding) each wrapped in a stretcher. We
 * cannot collapse the margins of the boxes because they are wrapped in a
 * stretcher; the margins of the stretchers also won't collapse because they
 * are floating (?).
 */
div.stretcher+div.stretcher {
	margin-top: 8px
}


div.box {
	background-color: #fff;
	border: 1px solid #acf;
	padding: 8px;
}

div.box.footer {
	font-size:x-small;
}

h2.page_title {
	margin-top: 0px;
}

a         { color: #000; }
a:visited { color: #666; }
a:hover   { color: #fff; background-color:#333; }

span.hidden_field { color: #BBB }


/***********
 ** Fonts **
 ***********/

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
}


/******************************
 ** General settings/classes **
 ******************************/

table { overflow:auto }

th { text-align: left; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

.nobreak { white-space:nowrap; }
.invisible { display:none; }
/*.invisible { visibility:hidden; }*/

.transparent { background-color: transparent; }


/************
 ** Tables **
 ************/

/** Lists of objects (objects in rows) **/
table.list { border-collapse: collapse }
table.list td,table.list th { padding: 2px 10px 2px 5px } /* top, right, bottom, left */
table.list td,table.list th { border: solid white; border-width: 1px }
table.list tr.header th { background-color: #666; color: #FFF }
table.list tr.data0  td { background-color: #EEE }
table.list tr.data1  td { background-color: #CCC }

table.list tr td.error_message { color: red }

/** Forms (setting name/input field) **/
table.form th { white-space: nowrap }
table.form td, table.form th  { vertical-align: top; }

/** Objects (field name/value) **/
table.object (td,td) { vertical-align: top; }


/************
 ** Errors **
 ************/

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}


/****************
 ** Pagination **
 ****************/

/*
 * Pagination entries can be input (ButtonRenderer), a (LinkRenderer, active),
 * span.disabled/current (LinkRenderer), span.gap (all)
 */

/* Options for the pagination list */
/*div.pagination { padding-top: 4px; padding-bottom: 4px }*/
div.pagination { margin: 8px 0px; }

/* Common options for all pagination elements */
div.pagination a, div.pagination span, div.pagination input {
	font-size: 13px;
	background-color: #EEE;
	border: 1px solid #CCC;
	text-decoration: none;
}


div.pagination a, div.pagination span, div.pagination input {
	padding: 1px 9px 1px 9px;
}

div.pagination span.disabled {
	color: #999
}

/* The gap is an exception: no background, lower padding */
div.pagination span.gap {
	background-color: transparent;
	border: none;
	padding: 1px

}

/* The element for the current page has a green border */
div.pagination .current { border-color: #3C3; }

div.pagination input:hover { color: #fff; background-color: #333; }
div.pagination a:hover     { color: #fff; background-color: #333; }

