<%= page_title "Bordbücher" do %>

    <p><%= render :partial=>'partials/date_range', :locals=>{:date_range=>@date_range} %></p>

    <% if @plane_log.empty? %>
        <p>Keine Einträge</p>
    <% else %>
        <% @plane_log.keys.sort.each { |club| %>
            <%= heading h club do %>
                <%= render :partial => 'partials/list_table', :locals => { :table => @tables[club] } %>
            <% end %>
        <% } %>
    <% end %>

<% end %>

