<h1>Hauptflugbuch <%= h Settings.instance.location %></h1>

<p><%= h @date %></p>

<% if @plane_log.empty? %>
	<p>Keine Einträge</p>
<% else %>
	<% @plane_log.keys.sort.each { |club| %>
		<% entries=@plane_log[club] %>

		<h2><%= h club %></h2>

		<%= render :partial => 'partials/list_table', :locals => { :table => @tables[club] } %>
	<% } %>
<% end %>

