<%= page_title "Hauptflugbuch #{h Settings.instance.location}" %>

<p><%= render :partial=>'partials/date_range', :locals=>{:date_range=>@date_range} %></p>

<% if @plane_log.empty? %>
	<p>Keine Einträge</p>
<% else %>
	<% @plane_log.keys.sort.each { |club| %>
		<% entries=@plane_log[club] %>

		<h2><%= h club %></h2>

		<%= render :partial => 'partials/list_table', :locals => { :table => @tables[club] } %>
	<% } %>
<% end %>

