<% heading h "Zusätzliche Informationen" do %>
	<p>
	Dies ist eine Testinstallation des Starterfassungsprogramms
	<a href="x">Startkladde</a> für den fiktiven Verkehrslandeplatz
	Dingenskirchen westlich von Hannover.
	</p>
	<p>
	Bei einer realen Installation könnte man an dieser Stelle weitere
	Informationen wie die Kontaktinformationen des Ansprechpartners für die
	Einrichtung von Benutzerzugängen.
	</p>
	
<% end %>

