<% heading h "Zusätzliche Informationen" do %>
	<p>
	Dies ist eine Testinstallation des Starterfassungsprogramms
	<a href="http://startkladde.sourceforce.net">Startkladde</a> für den
	fiktiven Verkehrslandeplatz Dingenskirchen westlich von Hannover.
	</p>

	<p>
	Dieser Abschnitt kann durch Ändern der Datei
	<code><%= __FILE__ %></code> angepasst
	werden. 
	An dieser Stelle können weitere Informationen für Benutzer bereitgestellt
	werden, zum Beispiel die Kontaktinformationen des Ansprechpartners für die
	Einrichtung von Benutzerzugängen oder für Hilfe bei technischen Problemen.
	</p>
	
<% end %>

