<%= page_title "Hauptflugbuch #{h Settings.instance.location}" %>

<p><%= h @date %></p>

<% if @flights.empty? %>
	<p>Keine Flüge</p>
<% else %>
	<p><%= h @flights.count %> Flüge</p>

	<%= render :partial => 'partials/list_table', :locals => { :table => @table } %>
<% end %>

