<% page_title "Hauptflugbuch für #{h Settings.instance.location}" do %>

	<p>
	<%= render :partial=>'partials/date_range', :locals=>{:date_range=>@date_range} %>
	&mdash;
	<%= render :partial=>'partials/flight_count', :locals=>{:num_flights=>@flights.size} %>
	</p>

	<% if !@flights.empty? %>
		<%= render :partial => 'partials/list_table', :locals => { :table => @table } %>
	<% end %>

<% end %>

